@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-3">Björn Boman</h1>
    <h2 class="display-6">Learning to code one failed compile at a time...</h2>
    <p>Who am I, and why should you care?</p>
</div>
